.avatar-icon  {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: 0 0;
    border-width: thick;
    border-style: solid;
}

.float-left {
  float: left;
}

.pointer {
  cursor: pointer;
}

.wb {
  word-break: break-word;
}